.header {
	min-height: 800px;
	background-image: url('../img/header-slide-img.jpg');
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	color: @white;

	@media (max-width: @screen-md-max) {
    	min-height: 600px;
    	background-position: center bottom;
    	background-size: cover;
    }

    @media (max-width: @screen-md-max) {
		min-height: 450px;
    	background-position: center bottom;
    	background-size: cover;
	}

	@media (max-width: @screen-xs-max) {
		background-position: left bottom;
		background-size: cover;
	}	

	&__top-side {
		padding: 1.48% 0 3%;
		.background-gradient(to bottom, @black, fadeout(@black, 100%));

		@media (max-width: @screen-xs-max) {
			padding: 3% 0 6%;
		}

	}
}