.header-menu {
	display: inline-block;
	float: right;

	@media (max-width: @screen-xs-max) {
		display: none;
	}

	&__search {
		display: inline-block;
		vertical-align: top;
		text-indent: -9999px;
		position: relative;
		width: 18px;
		height: 44px;
		margin-right: 5px;		

		&:after {
			.icon-svg(search);
			top: 13px;
			background-size: 100%;
			width: 18px;
			height: 18px; 
			transition: border 0.5s, color 0.5s, background 0.5s;
		}

		&:hover {

			&:after {
				.icon-svg(search-pink);
			}
		}
	}
}

.header-mobile-menu {
	display: none;
	float: right;

	@media (max-width: @screen-xs-max) {
		display: block;
	}

	&__button {		
		display: inline-block;
		text-indent: -9999px;
		position: relative;
		width: 40px;
		height: 40px;
		margin-top: 5px;
			
		&:before {
			.icon-svg(menu);
			width: 40px;
			height: 40px;
			background-size: 100%;
			right: 0;
			left: auto;
		}

	}
}