.slide {
	background-color: @black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__title {
		font-size: @x-large;
		font-weight: @semibold;
		text-transform: uppercase;
	}

	&__tags {
		margin-bottom: 30px;
	}

	&__tag {
		margin-right: 15px;
		color: fadeout(@white, 30%);
	}

	&__duration {
		color: fadeout(@white, 30%);

		&:before {
			content: '|';
			margin-right: 15px;
		}
	}

	&__button {
		margin-right: 15px;
	}

	&__wishlist {
		text-decoration: none;
		color: fadeout(@white, 20%);
		text-transform: uppercase;
		font-weight: @semibold;
		font-size: @normal-plus;

	}
} 

.slide-info {	
	position: relative;
	padding: 1.48% 0 3.5%;
	background: -moz-linear-gradient(to top, @black 50%, fadeout(@black, 100%) 100%);
    background: -webkit-linear-gradient(to top, @black 50%, fadeout(@black, 100%) 100%);
    background: -o-linear-gradient(to top, @black 50%, fadeout(@black, 100%) 100%);
    background: -ms-linear-gradient(to top, @black 50%, fadeout(@black, 100%) 100%);
    background: linear-gradient(to top, @black 50%, fadeout(@black, 100%) 100%);

    @media (max-width: @screen-md-max) {
    	background: -moz-linear-gradient(to top, @black 20%, fadeout(@black, 100%) 100%);
	    background: -webkit-linear-gradient(to top, @black 20%, fadeout(@black, 100%) 100%);
	    background: -o-linear-gradient(to top, @black 20%, fadeout(@black, 100%) 100%);
	    background: -ms-linear-gradient(to top, @black 20%, fadeout(@black, 100%) 100%);
	    background: linear-gradient(to top, @black 20%, fadeout(@black, 100%) 100%);
    }

    @media (max-width: @screen-xs-max) {
		padding: 3% 0 6%;
	}

    &__rating {
    	display: inline-block;
    	position: absolute;
    	bottom: 0;
    	right: 15px;
		padding: 10px 14.5px 14.5px 19.5px;
		border: 1px solid fadeout(@white, 80%);
		background-color: rgba(73, 76, 98, 0.2);
		border-radius: 2.5px;

		@media (max-width: @screen-xs-max) {
			display: table;
			position: relative;  
			margin-top: 25px;
			right: 0;
    	}	




    }

    &__rating-based {
		color: fadeout(@white, 50%);
		font-size: @small;
		margin-left: 5px;
    }

    &__star {
    	display: inline-block;
    	vertical-align: top;

    	&:after {
    		.icon-svg(star);
			display: inline-block;
			margin-right: 9px;				
			position: relative;
			width: 20px;
			height: 20px;
			background-size: 100%;			
    	}

    	&--half {
    		&:after {
    			.icon-svg(star-half);
				display: inline-block;
				margin-right: 9px;				
				position: relative;
    		}				
    	}

    	&--empty {
    		&:after {
    			.icon-svg(star-empty);
				display: inline-block;
				margin-right: 9px;				
				position: relative;
    		}
			
    	}
    	
    }

    &__rating-value {
    	display: inline-block;
    	vertical-align: top;
		font-size: @small;
		padding: 2px 5px;
		line-height: 15.5px;
		border: 1px solid fadeout(@white, 80%);
    }

}