.button {
    padding: 10px 30px;
    display: inline-block;
    font-size: @normal;
    background-color: @accent-color;
    border: 0;
    color: @white;
    border-radius: 2.5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: border 0.5s, color 0.5s, background 0.5s;

    &:visited {
        color: @white;
        
    }

    &:focus {
        color: @white;
    }
    
    &:active {        
        color: @white;

    }

    &:hover {
        text-decoration: none;
        color: @white;
        background-color: spin(@accent-color, 10);
    }

    &--linear {
        border: 1px solid @white;
        color: @white;
        padding: 9px 29px;
        background-color: transparent;

        &:hover {
            text-decoration: none;
            border: 1px solid @accent-color;
            color: @accent-color;
            background-color: transparent;
        }
    }

    &--clean {
        background-color: transparent;

        &:hover {
            text-decoration: none;
            background-color: transparent;
            color: @accent-color;
        }
    }
}