.logo {
	font-size: @logo-size;
	color: @white;
	text-transform: uppercase;
	transition-property: color;
    transition-duration: 0.5s;

	&:hover {
		cursor: pointer;
		color: @accent-color;	
	}

	&__bold {
		font-weight: @f-black;
		font-size: @logo-size + 1;
	}
}