{{> page-start}}

<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="catalog-heading">
					<div class="catalog-heading__filters">
						<a class="catalog-heading__filters-link catalog-heading__filters-link--active" href="#">Trending</a>
						<a class="catalog-heading__filters-link hidden-xs" href="#">Top Rated</a>
						<a class="catalog-heading__filters-link hidden-xs" href="#">New Arrivals</a>
						<a class="catalog-heading__filters-link catalog-heading__filters-link--down" href="#">Genre
						</a>

					</div>
					<div class="catalog-display">
						<a href="" class="catalog-display__button catalog-display__button--grid">								
							Grid
						</a>
						<a href="" class="catalog-display__button catalog-display__button--list ">								
							List
						</a>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="container">
		<div class="catalog">
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-1.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Logan
						</h3>
						<div class="film__tags">
							<span>Action</span>
							<span>Adventure</span>
							<span>Fantasy</span>
						</div>
						<div class="film-rating">
							4.0
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-2.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							John Wick: Chapter 2
						</h3>
						<div class="film__tags">
							<span>Action</span>
							<span>Thriller</span>
						</div>
						<div class="film-rating">
							4.8
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-3.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Fantastic beasts an…
						</h3>
						<div class="film__tags">
							<span>Adventure</span>
							<span>Fantasy</span>
							<span>Action</span>
						</div>
						<div class="film-rating">
							4.5
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-4.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Fifty shades darker
						</h3>
						<div class="film__tags">
							<span>Drama</span>
							<span>Adventure</span>
							<span>Roman</span>
						</div>
						<div class="film-rating">
							4.6
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-5.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Beauty and the Beast
						</h3>
						<div class="film__tags">
							<span>Musical</span>
							<span>Drama</span>
							<span>Fantasy</span>
						</div>
						<div class="film-rating">
							4.4
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-6.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Arrival
						</h3>
						<div class="film__tags">
							<span>Action</span>
							<span>Thriller</span>
							<span>Sci-Fi</span>
						</div>
						<div class="film-rating">
							3.4
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-7.jpg" alt="">				
					</div>					
					<div class="film-desc">	
						<h3 class="film__title">
							Justice League
						</h3>
						<div class="film__tags">
							<span>Adventure</span>
							<span>Sci-Fi</span>
							<span>Action</span>
						</div>
						<div class="film-rating">
							3.9
						</div>
					</div>						
				</div>					
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-8.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Pirates of the Caribb…
						</h3>
						<div class="film__tags">
							<span>Adventure</span>
							<span>Fantasy</span>
							<span>Action</span>
						</div>
						<div class="film-rating">
							4.2
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-9.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Wonder Woman
						</h3>
						<div class="film__tags">
							<span>Action</span>
							<span>Adventure</span>
							<span>Sci-Fi</span>
						</div>
						<div class="film-rating">
							3.8
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-10.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Guardians of the Gal…
						</h3>
						<div class="film__tags">
							<span>Action</span>
							<span>Sci-Fi</span>
							<span>Comedy</span>
						</div>
						<div class="film-rating">
							3.0
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-11.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Alien: Covenant
						</h3>
						<div class="film__tags">
							<span>Horror</span>
							<span>Action</span>
							<span>Sci-Fi</span>
							<span>Action</span>
						</div>
						<div class="film-rating">
							4.0
						</div>
					</div>
				</div>
			</article>
			<article class="film">
				<div class="film-body">
					<div class="film-img" data-year="2017">
						<img src="img/film-img-12.jpg" alt="">				
					</div>		
					<div class="film-desc">	
						<h3 class="film__title">
							Captain Underpant…
						</h3>
						<div class="film__tags">
							<span>Animation</span>
							<span>Comedy</span>
						</div>
						<div class="film-rating">
							3.5
						</div>
					</div>
				</div>
			</article>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="loading">
					loading
				</div>
			</div>
		</div>
	</div>

</main>

{{> end}}