@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro.woff2') format('woff2'), url('../fonts/sourcesanspro.woff') format('woff'), url('../fonts/sourcesanspro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('../fonts/sourcesansprosemibold.woff2') format('woff2'), url('../fonts/sourcesansprosemibold.woff') format('woff'), url('../fonts/sourcesansprosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesansprobold.woff2') format('woff2'), url('../fonts/sourcesansprobold.woff') format('woff'), url('../fonts/sourcesansprobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url('../fonts/sourcesansproblack.woff2') format('woff2'), url('../fonts/sourcesansproblack.woff') format('woff'), url('../fonts/sourcesansproblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  color: #494C62;
  font-family: 'Source Sans Pro', tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background-color: #f8f8f8;
}
p {
  margin-bottom: 15px;
}
h1,
h2,
h3 {
  margin: 0px;
  line-height: 1.2;
}
img {
  width: auto;
  max-width: 100%;
}
b {
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: underline;
  transition: border 0.5s, color 0.5s;
}
a:visited {
  color: inherit;
}
a:hover {
  cursor: pointer;
  color: #ff0079;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  color: #ff0079;
}
iframe {
  max-width: 100%;
}
.flex-wrap-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.button {
  padding: 10px 30px;
  display: inline-block;
  font-size: 15px;
  background-color: #ff0079;
  border: 0;
  color: #ffffff;
  border-radius: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: border 0.5s, color 0.5s, background 0.5s;
}
.button:visited {
  color: #ffffff;
}
.button:focus {
  color: #ffffff;
}
.button:active {
  color: #ffffff;
}
.button:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff004e;
}
.button--linear {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 9px 29px;
  background-color: transparent;
}
.button--linear:hover {
  text-decoration: none;
  border: 1px solid #ff0079;
  color: #ff0079;
  background-color: transparent;
}
.button--clean {
  background-color: transparent;
}
.button--clean:hover {
  text-decoration: none;
  background-color: transparent;
  color: #ff0079;
}
.logo {
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 0.5s;
}
.logo:hover {
  cursor: pointer;
  color: #ff0079;
}
.logo__bold {
  font-weight: 900;
  font-size: 31px;
}
.header {
  min-height: 800px;
  background-image: url('../img/header-slide-img.jpg');
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  color: #ffffff;
}
@media (max-width: 1649px) {
  .header {
    min-height: 600px;
    background-position: center bottom;
    background-size: cover;
  }
}
@media (max-width: 1649px) {
  .header {
    min-height: 450px;
    background-position: center bottom;
    background-size: cover;
  }
}
@media (max-width: 961px) {
  .header {
    background-position: left bottom;
    background-size: cover;
  }
}
.header__top-side {
  padding: 1.48% 0 3%;
  background: -moz-linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 961px) {
  .header__top-side {
    padding: 3% 0 6%;
  }
}
.header-menu {
  display: inline-block;
  float: right;
}
@media (max-width: 961px) {
  .header-menu {
    display: none;
  }
}
.header-menu__search {
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
  position: relative;
  width: 18px;
  height: 44px;
  margin-right: 5px;
}
.header-menu__search:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 13px;
  background-size: 100%;
  width: 18px;
  height: 18px;
  transition: border 0.5s, color 0.5s, background 0.5s;
}
.header-menu__search:hover:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/search-pink.svg");
  background-repeat: no-repeat;
  left: 0;
}
.header-mobile-menu {
  display: none;
  float: right;
}
@media (max-width: 961px) {
  .header-mobile-menu {
    display: block;
  }
}
.header-mobile-menu__button {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.header-mobile-menu__button:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  left: 0;
  width: 40px;
  height: 40px;
  background-size: 100%;
  right: 0;
  left: auto;
}
.slide {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide__title {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.slide__tags {
  margin-bottom: 30px;
}
.slide__tag {
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.slide__duration {
  color: rgba(255, 255, 255, 0.7);
}
.slide__duration:before {
  content: '|';
  margin-right: 15px;
}
.slide__button {
  margin-right: 15px;
}
.slide__wishlist {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.slide-info {
  position: relative;
  padding: 1.48% 0 3.5%;
  background: -moz-linear-gradient(to top, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(to top, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(to top, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(to top, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, #000000 50%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 1649px) {
  .slide-info {
    background: -moz-linear-gradient(to top, #000000 20%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(to top, #000000 20%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(to top, #000000 20%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(to top, #000000 20%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, #000000 20%, rgba(0, 0, 0, 0) 100%);
  }
}
@media (max-width: 961px) {
  .slide-info {
    padding: 3% 0 6%;
  }
}
.slide-info__rating {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 15px;
  padding: 10px 14.5px 14.5px 19.5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(73, 76, 98, 0.2);
  border-radius: 2.5px;
}
@media (max-width: 961px) {
  .slide-info__rating {
    display: table;
    position: relative;
    margin-top: 25px;
    right: 0;
  }
}
.slide-info__rating-based {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin-left: 5px;
}
.slide-info__star {
  display: inline-block;
  vertical-align: top;
}
.slide-info__star:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  left: 0;
  display: inline-block;
  margin-right: 9px;
  position: relative;
  width: 20px;
  height: 20px;
  background-size: 100%;
}
.slide-info__star--half:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/star-half.svg");
  background-repeat: no-repeat;
  left: 0;
  display: inline-block;
  margin-right: 9px;
  position: relative;
}
.slide-info__star--empty:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/star-empty.svg");
  background-repeat: no-repeat;
  left: 0;
  display: inline-block;
  margin-right: 9px;
  position: relative;
}
.slide-info__rating-value {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  padding: 2px 5px;
  line-height: 15.5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.catalog {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}
.catalog-heading {
  border-bottom: 1px solid #DFDFDF;
  margin: 45px 0 38px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 961px) {
  .catalog-heading {
    margin: 25px 0 30px;
  }
}
.catalog-heading__filters-link {
  padding: 20px;
  display: inline-block;
  color: #80818A;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.catalog-heading__filters-link:before {
  content: '';
  transition: background 0.5s;
}
.catalog-heading__filters-link--down:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/down.svg");
  background-repeat: no-repeat;
  left: 0;
  display: inline-block;
  bottom: 3px;
  position: relative;
  width: 10px;
  height: 5px;
  background-size: 100%;
  transition: border 0.5s, color 0.5s, background 0.5s;
}
.catalog-heading__filters-link--down:hover:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/down-pink.svg");
  background-repeat: no-repeat;
  left: 0;
  display: inline-block;
  position: relative;
  bottom: 3px;
}
.catalog-heading__filters-link:hover:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #ff0079;
}
.catalog-heading__filters-link--active {
  color: #ff0079;
}
.catalog-heading__filters-link--active:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #ff0079;
}
.catalog-heading .catalog-display {
  margin: 20px 0;
}
.catalog-heading .catalog-display__button {
  background-color: transparent;
  border: 0;
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  margin-left: 10px;
}
.catalog-heading .catalog-display__button--grid:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/grid.svg");
  background-repeat: no-repeat;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 100%;
  transition: border 0.5s, color 0.5s, background 0.5s;
}
.catalog-heading .catalog-display__button--list:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/list.svg");
  background-repeat: no-repeat;
  left: 0;
  width: 21px;
  height: 20px;
  background-size: 100%;
  transition: border 0.5s, color 0.5s, background 0.5s;
}
.catalog-heading .catalog-display__button--list:hover:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/list-pink.svg");
  background-repeat: no-repeat;
  left: 0;
  opacity: 0.7;
}
.catalog-heading .catalog-display__button--list:focus:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/list-pink.svg");
  background-repeat: no-repeat;
  left: 0;
}
.catalog-heading .catalog-display__button--list:active:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/list-pink.svg");
  background-repeat: no-repeat;
  left: 0;
  opacity: 1;
}
.film {
  flex-basis: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (max-width: 1281px) {
  .film {
    flex-basis: 50%;
  }
}
@media (max-width: 961px) {
  .film {
    flex-basis: 70%;
    margin: 0 auto 30px;
  }
}
@media (max-width: 500px) {
  .film {
    flex-basis: 100%;
  }
}
.film__tags {
  color: #BABBC3;
  line-height: 19px;
  margin-top: 2px;
}
.film__tags span:after {
  content: ",";
}
.film__tags span:last-child:after {
  content: '';
}
.film__title {
  color: #494C62;
  font-weight: 700;
  font-size: 20px;
}
.film-img {
  position: relative;
}
.film-img img {
  position: relative;
  z-index: 1;
}
.film-img:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 36%;
  width: 100%;
  bottom: 0;
  background: -moz-linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.film-img:after {
  content: attr(data-year);
  position: absolute;
  z-index: 3;
  color: #ACADB6;
  bottom: 16px;
  left: 18.5px;
  font-size: 18px;
}
.film-body {
  background-color: #ffffff;
  box-shadow: 0 2px 35px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}
.film-body:hover {
  cursor: pointer;
  box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.2);
}
.film-desc {
  padding: 17px 27px 20.5px 18.5px;
  position: relative;
}
.film-rating {
  position: absolute;
  width: 40px;
  right: 18.5px;
  top: 27.5px;
  text-align: center;
  line-height: 30px;
  border-radius: 2.5px;
  border: solid 1px #ff0079;
  color: #ff0079;
  font-weight: 600;
  font-size: 14px;
}
.loading {
  margin: 35px auto 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  color: #BABBC3;
  text-align: center;
}
@media (max-width: 961px) {
  .loading {
    margin: 15px auto 25px;
  }
}
.loading:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/loader.svg");
  background-repeat: no-repeat;
  left: 0;
  background-size: 100%;
  position: relative;
  margin: 0 auto 15px;
  width: 50px;
  height: 25px;
}
.footer {
  background-color: #ffffff;
  margin-top: 50px;
  padding: 20px 0 180px;
}
@media (max-width: 1649px) {
  .footer {
    padding: 20px 0 120px;
  }
}
@media (max-width: 961px) {
  .footer {
    margin-top: 20px;
    padding: 20px 0 60px;
  }
}
.footer__logo {
  color: #494C62;
  font-size: 25px;
  line-height: 30px;
}
.footer__logo-bold {
  font-size: 26px;
}
@media (max-width: 961px) {
  .footer__logo {
    text-align: center;
  }
}
.footer__copyright {
  color: rgba(128, 129, 138, 0.5);
  font-size: 12px;
}
@media (max-width: 961px) {
  .footer__copyright {
    margin-top: 30px;
    text-align: center;
  }
}
.footer-menu {
  float: right;
  margin-bottom: 50px;
}
@media (max-width: 961px) {
  .footer-menu {
    float: none;
    margin: 15px auto 0;
    display: table;
  }
}
.footer-menu__link {
  color: #80818A;
  text-decoration: none;
  line-height: 30px;
  margin-right: 38px;
}
.footer-menu__link:last-child {
  margin-right: 0;
}
.footer-social {
  float: right;
}
@media (max-width: 961px) {
  .footer-social {
    float: none;
    display: table;
    margin: 0 auto;
  }
}
.footer-social__link {
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
}
@media (max-width: 961px) {
  .footer-social__link {
    width: 40px;
    height: 40px;
  }
}
.footer-social__link:last-child {
  margin-right: 0;
}
.footer-social__link--fb:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: block;
  background: url("../img/fb.svg") no-repeat center center;
  background-size: 100%;
  opacity: 0.15;
}
@media (max-width: 961px) {
  .footer-social__link--fb:before {
    width: 40px;
    height: 40px;
  }
}
.footer-social__link--fb:before {
  background-size: 100%;
}
.footer-social__link--in:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: block;
  background: url("../img/in.svg") no-repeat center center;
  background-size: 100%;
  opacity: 0.15;
}
@media (max-width: 961px) {
  .footer-social__link--in:before {
    width: 40px;
    height: 40px;
  }
}
.footer-social__link--in:before {
  background-size: 100%;
}
.footer-social__link--twitter:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: block;
  background: url("../img/twitter.svg") no-repeat center center;
  background-size: 100%;
  opacity: 0.15;
}
@media (max-width: 961px) {
  .footer-social__link--twitter:before {
    width: 40px;
    height: 40px;
  }
}
.footer-social__link--twitter:before {
  background-size: 100%;
}
.footer-social__link--pinterest:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: block;
  background: url("../img/pinterest.svg") no-repeat center center;
  background-size: 100%;
  opacity: 0.15;
}
@media (max-width: 961px) {
  .footer-social__link--pinterest:before {
    width: 40px;
    height: 40px;
  }
}
.footer-social__link:hover:before {
  opacity: 0.3;
}
