html {
    height: 100%;
}
body {
	color: @main-text-color;
	font-family: @default-font;
    font-size: @normal-size;
    line-height: @line-height;
    background-color: @grey-5;
}

p {
	margin-bottom: 15px;
}


h1, h2, h3 {
	margin: 0px;
    line-height: 1.2; 
}

img {
    width: auto;
    max-width: 100%;
}

b {
    font-weight: @bold;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: border 0.5s, color 0.5s;
    

    &:visited {
        color: inherit;
    }

    &:hover {
        cursor: pointer;
        color: @accent-color;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        color: @accent-color;
    }

}

iframe {
    max-width: 100%;
}