.icon-before(@name, @block-height) {

    &:before {
        content: "";
        display: block;
        position: absolute;
        @url: "../img/@{name}.png";
        @width: image-width(@url);
        @height: image-height(@url);
        background-image: url(@url);
        background-repeat: no-repeat;
        width: @width;
        height: @height;
        left: 0;
        top: ((@block-height)-@height)/2;
    }
}


.background-gradient(@position, @color-1, @color-2){
    background: -moz-linear-gradient(@position, @color-1 0%, @color-2 100%);
    background: -webkit-linear-gradient(@position, @color-1 0%, @color-2 100%);
    background: -o-linear-gradient(@position, @color-1 0%, @color-2 100%);
    background: -ms-linear-gradient(@position, @color-1 0%, @color-2 100%);
    background: linear-gradient(@position, @color-1 0%, @color-2 100%);
}

.placeholder-color(@color) {
    &::-webkit-input-placeholder {
        color: @color;
    }
    &::-moz-placeholder {
        color: @color; /* Firefox 19+ */
    }
    &:-moz-placeholder {
        color: @color; /* Firefox 18- */
        }
    &:-ms-input-placeholder {
        color: @color;
    }
}


.icon-svg(@name) {
    content: "";
    display: block;
    position: absolute;
    @url: "../img/@{name}.svg";
    background-image: url(@url);
    background-repeat: no-repeat;
    left: 0;
}

.social-icon(@name, @format) {
    &:before {
        @url: "../img/@{name}.@{format}";
        content: "";
        @width: image-width(@url);
        @height: image-height(@url);
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        display: block;
        background: url(@url) no-repeat center center;
        background-size: 100%;
        opacity: 0.15;

        @media (max-width: @screen-xs-max) {
            width: 40px;
            height: 40px;
                        
        }
        
    }
}

.clearfix() {
    
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}

.box-shadow() {
    box-shadow: 0 2px 35px 0px rgba(0, 0, 0, 0.1);
} 

.flex-wrap-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;     
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}