// Цвета

@black: #000000;
@white: #ffffff;
@pink: #ff0079;
@navy: #494C62;
@grey-1: #DFDFDF;
@grey-2: #BABBC3;
@grey-3: #80818A;
@grey-4: #ACADB6;
@grey-5: #f8f8f8;

//@main-color: @blue; 
@accent-color: @pink;
//@border-color:  @300-grey;
//@background-color-body: @50-blue;
@main-text-color:  @navy;

// Шрифты

@line-height: 1.6;


@regular: 400;
@semibold: 600;
@bold: 700;
@f-black: 900;

@soursesans: 'Source Sans Pro', tahoma, sans-serif;

@default-font: @soursesans;

@small: 12px;
@normal: 15px;
@normal-plus: 16px;
@normal-minus: 14px;
@large: 18px;
@large-plus: 20px;
@x-large: 45px;

@logo-size: 30px;
@logo-footer-size: 25px;

@normal-size: @normal; 
@block-title-size: @large;



// Рамка

@grey-border: 1px solid @grey-1;

// Медиа

@screen-xs: 602px;
@screen-xs-min: @screen-xs;

@screen-sm: 962px;
@screen-sm-min: @screen-sm;

@screen-md: 1282px;
@screen-md-min: @screen-md;

@screen-lg: 1650px;
@screen-lg-min: @screen-lg;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);