.footer-social {
	float: right;

	@media (max-width: @screen-xs-max) {
		float: none;
		display: table;
		margin: 0 auto;					
	}

	&__link {
		text-indent: -9999px;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 8px;
		position: relative;

		@media (max-width: @screen-xs-max) {
			width: 40px;
			height: 40px;						
		}

		&:last-child {
			margin-right: 0;
		}

		&--fb {
			.social-icon(fb, svg);
			&:before {
				background-size: 100%;
			}
		}

		&--in {
			.social-icon(in, svg);
			&:before {
				background-size: 100%;
			}
		}

		&--twitter {
			.social-icon(twitter, svg);
			&:before {
				background-size: 100%;
			}
		}

		&--pinterest {
			.social-icon(pinterest, svg);
			
		}

		&:hover {

			&:before {
				opacity: 0.3;
			}
		}
	}
}