.footer {
	background-color: @white;
	margin-top: 50px;
	padding: 20px 0 180px;

	@media (max-width: @screen-md-max) {
		padding: 20px 0 120px;
	}

	@media (max-width: @screen-xs-max) {
		margin-top: 20px;
		padding: 20px 0 60px;
	}

	&__logo {
		color: @main-text-color;
		font-size: @logo-footer-size;
		line-height: 30px;

		&-bold {
			font-size: @logo-footer-size + 1;
		}

		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}

	&__copyright {
		color: fadeout(@grey-3, 50%);
		font-size: @small;

		@media (max-width: @screen-xs-max) {
			margin-top: 30px;
			text-align: center;
		}
	}
}
