.footer-menu {
	float: right;
	margin-bottom: 50px;

	@media (max-width: @screen-xs-max) {
		float: none;
		margin: 15px auto 0;
		display: table;
	}

	&__link {
		color: @grey-3;
		text-decoration: none;
		line-height: 30px;
		margin-right: 38px;

		&:last-child {
			margin-right: 0;
		}
	}
}