.catalog-heading {
	border-bottom: @grey-border;
	margin: 45px 0 38px;
	display: flex;
	justify-content: space-between;

	@media (max-width: @screen-xs-max) {
       margin: 25px 0 30px;              
    }


	&__filters {

	}

	&__filters-link {
		padding: 20px; 
		display: inline-block;
		color: @grey-3;
		text-decoration: none;
		font-size: @large;
		position: relative;

		&:before {
			content: '';
			transition: background 0.5s;
		}

		&--down {
			&:after {
				.icon-svg(down);
				display: inline-block;
    			bottom: 3px;
				position: relative;
				width: 10px;
				height: 5px;
				background-size: 100%;
				transition: border 0.5s, color 0.5s, background 0.5s;
			}

			&:hover {
				&:after {
					.icon-svg(down-pink);
					display: inline-block;
					position: relative;
					bottom: 3px;
				}
				
			}
		}

		&:hover {
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				position: absolute;
				bottom: -1px;
				left: 0;
				background-color: @accent-color;
			}
		}

		&--active {
			color: @accent-color;

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				position: absolute;
				bottom: -1px;
				left: 0;
				background-color: @accent-color;
			}
		}
	}

	.catalog-display {
		margin: 20px 0;
		
		&__button {
			background-color: transparent;
			border: 0;
			display: inline-block;
			text-indent: -9999px;
			position: relative;
			margin-left: 10px;

			&--grid {
				&:before {
					.icon-svg(grid);
					width: 20px;
					height: 20px;
					background-size: 100%;
					transition: border 0.5s, color 0.5s, background 0.5s;
				}
			}

			&--list {
				&:before {
					.icon-svg(list);
					width: 21px;
					height: 20px;
					background-size: 100%;
					transition: border 0.5s, color 0.5s, background 0.5s;
				}

				&:hover {
					&:before {
						.icon-svg(list-pink);
						opacity: 0.7;
					}
				}

				&:focus {
					&:before {
						.icon-svg(list-pink);
					}
				}

				&:active {
					&:before {
						.icon-svg(list-pink);
						opacity: 1;
					}
				}
			}

			
		}
	}
}