.film {
	flex-basis: 25%;
	padding: 0 15px;
	margin-bottom: 30px;

	@media (max-width: @screen-sm-max) {
    	flex-basis: 50%;
    }

    @media (max-width: @screen-xs-max) {
    	flex-basis: 70%;
    	margin: 0 auto 30px;
    }

    @media (max-width: 500px) {
    	flex-basis: 100%;
    }

	&__tags {
		color: @grey-2;
		line-height: 19px;
		margin-top: 2px;

		& span {

			&:after {
				content: ",";
			}

			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}

	&__title {
		color: @main-text-color;
		font-weight: @bold;
		font-size: @large-plus;
	}

}

.film-img {
	position: relative;

	img {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		height: 36%;
		width: 100%;
		bottom: 0;
		.background-gradient(to top, @black, fadeout(@black, 100%))

	}

	&:after {
		content: attr(data-year);
		position: absolute;
		z-index: 3;
		color: @grey-4;
		bottom: 16px;
		left: 18.5px;
		font-size: @large;
	}
}

.film-body{
	background-color: @white;
	.box-shadow();
	transition: box-shadow 0.5s;

	&:hover {
		cursor: pointer;
		box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.2);
	}
}

.film-desc {
	padding: 17px 27px 20.5px 18.5px;
	position: relative;
}

.film-rating {
	position: absolute;
	width: 40px;
	right: 18.5px;
	top: 27.5px;
	text-align: center;
	line-height: 30px;
	border-radius: 2.5px;
	border: solid 1px @accent-color;
	color: @accent-color;
	font-weight: @semibold;
	font-size: @normal-minus;

}
