.loading {
	margin: 35px auto 25px;
	position: relative;
	text-transform: uppercase;
	font-weight: @semibold;
	color: @grey-2;
	text-align: center;

	@media (max-width: @screen-xs-max) {
		margin: 15px auto 25px;
	}

	&:before {
		.icon-svg(loader);
		background-size: 100%;
		position: relative;
		margin: 0 auto 15px;
		width: 50px;
		height: 25px;
    
	}
}