    {{> footer}}
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/ajax.js" type="text/javascript"></script>   
    <script src="js/bootstrap.js" type="text/javascript"></script>   
    <script src="js/main.js" type="text/javascript"></script>    
</body>
</html>