<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo footer__logo">
						themovie<span class="logo__bold footer__logo-bold">BOX</span>
					</div>
			</div>
			<div class="col-sm-8">
				<div class="footer-menu">
					<a class="footer-menu__link" href="#">About</a>
					<a class="footer-menu__link" href="#">Movies</a>
					<a class="footer-menu__link" href="#">Ratings</a>
					<a class="footer-menu__link" href="#">Contact</a>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<p class="footer__copyright">
					Designed by Milan Houter. All rights reserved.
				</p>	
			</div>
			<div class="col-xs-offset-0 col-sm-4 col-sm-offset-3">
				<div class="footer-social">
					<a class="footer-social__link footer-social__link--fb" href="#">facebook</a>
					<a class="footer-social__link footer-social__link--pinterest" href="#">pinterest</a>
					<a class="footer-social__link footer-social__link--twitter" href="#">twitter</a>
					<a class="footer-social__link footer-social__link--in" href="#">linkedin</a>
				</div>
			</div>
		</div>
	</div>
</footer>

