<header class="header slide">
	<nav class="header__top-side">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="logo">
						themovie<span class="logo__bold">BOX</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-8">
					<div class="header-menu">
						<a class="header-menu__search">Поиск</a>
						<a class="button button--clean" href="#">log in</a>
						<a class="button" href="#">sign up</a>
					</div>
					<div class="header-mobile-menu">
						<a class="header-mobile-menu__button">Меню</a>
					</div>
				</div>		
			</div>
		</div>		
	</nav>		
	<div class="slide-info">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="slide__title">Wrath of the titans</h1>
					<p class="slide__tags">
						<span class="slide__tag">Fantasy</span>
						<span class="slide__tag">Animation</span>
						<span class="slide__tag">Family</span>
						<span class="slide__duration">Duration: 1h 52m</span>
					</p>
						
					<div>
						<a class="button slide__button" href="#">Watch movie</a>
						<a class="button button--linear slide__button hidden-xs" href="#">View info</a>
						<a class="slide__wishlist" href="#">+ Add to wishlist</a>
					</div>
					<div class="slide-info__rating">
						<p class="slide-info__rating-title">
							<span>Rating</span>
							<span class="slide-info__rating-based">based on 3.546 reviews</span>
						</p>
						<div class="slide-info__stars">
							<span class="slide-info__star"></span>
							<span class="slide-info__star"></span>
							<span class="slide-info__star"></span>
							<span class="slide-info__star slide-info__star--half"></span>
							<span class="slide-info__star slide-info__star--empty"></span>
							<span class="slide-info__rating-value">3.4</span>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>			
</header>

    
    
